<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Cancer Database</title>
	<meta name="description" content="Cancer Database">
	<meta name="author" content="Shubham Dubey">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="zerogrid.css">
	<link rel="stylesheet" href="style.css">
	<link href="bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="bootstrap-theme.min.css" rel="stylesheet" media="screen"/>
	<link rel="stylesheet" href="style 2.css">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
	<script src="jquery-latest.min.js"></script>
	 <!-- <script src="js/script.js"></script> -->
	<script src="app.js"></script>
	
	
	
    
</head>
<body ng-app="cancerDb" ng-controller="tabCtrl">
<div class="wrap-body">

<!--////////////////////////////////////Header-->
<header>
	<div class="wrap-header zerogrid">
		<div class="row">
			<div id="cssmenu">
				<ul>
				   <li class='active'><a href="">Home</a></li>
				   <li><a href="">About</a></li>
				   <li><a href="">Contact</a></li>
				</ul>
			</div>
			<a href='index.html' class="logo"><img src="logo2.png" /></a>
		</div>
	</div>
</header>


<!--////////////////////////////////////Container-->
<section id="container">
	<div class="zerogrid">
		<div class="wrap-container clearfix">
			<div id="main-content">
				<div class="row wrap-content"><!--Start Box-->
					<div class="header">
						<span>Data to identify causes and develop strategies for prevention.</span>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>
<div role="tabpanel"  class="zerogrid">
			<ul class="nav nav-tabs tabFont" role="tablist" >
				<li role="presentation"  ng-click="setTab(1)" ng-class="{'active':tab == 1}">
					<a data-target="#tab" aria-controls="home" role="tab" data-toggle="tab">Expression</a>
				</li>
				<li role="presentation"  ng-click="setTab(2)" ng-class="{'active':tab == 2}">
					<a data-target="#tab" aria-controls="home" role="tab" data-toggle="tab">Function</a>
				</li>
				<li role="presentation"  ng-click="setTab(3)" ng-class="{'active':tab == 3}">
					<a data-target="#tab" aria-controls="home" role="tab" data-toggle="tab">SNP</a>
				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="tab">

					<div ng-show="isSet(1)">
						<div class="row">
						<div class="col-1-3">
							<div class="wrap-col">
								<span>There will be something about it</span>
								<p>with some description</p>
							</div>
						</div>
						<div class="col-2-3">
							<div class="wrap-col">
								<div class="contact">
									<div id="contact_form">
										<form name="form11" id="ff" ng-submit="searchQuery(form11)">
											<label class="row">
												<div class="col-1-3">
													<div class="wrap-col">
														<select name="miRNA_name" ng-model="exp1.miRNA_name" required>
															  <option value="" default selected>Select miRNA</option>	
														      <option value="miR-133b">mir-133b</option>
														      <option value="mir-132">mir-132</option>
														      <option value="mir-132b">mir-132b</option>
														</select>
													</div>
												</div>
												<div class="col-1-3">
													<div class="wrap-col">
														<select name="cancer" ng-model="exp1.cancer" required>
															  <option value="" default selected>Select Cancer Type</option>	
														      <option value="colorectal cancer">Colorectal Cancer</option>
														      <option value="Gatric cancer">Gatric Cancer</option>
														      <option value="colon cancer">Colon Cancer</option>
														      <option value="Esophageal cancer">Esophageal Cancer</option>
														</select>
													</div>
												</div>
												<div class="col-1-3">
													<div class="wrap-col">
														<button type="submit" class="sendButton btn" >Search</button>
													</div>
												</div>
											</label>
											<label class="row">
												<div class="sepLine"></div>
											</label>
										</form>
										<form name="form12" id="ff" ng-submit="searchQuery(form12)">
											<label class="row">
												<div class="col-1-3">
													<div class="wrap-col">
														<select name="cancer" ng-model="exp2.cancer" required>
															  <option value="" default selected>Select Cancer Type</option>	
														      <option value="colorectal cancer">Colorectal Cancer</option>
														      <option value="Gatric cancer">Gatric Cancer</option>
														      <option value="colon cancer">Colon Cancer</option>
														      <option value="Esophageal cancer">Esophageal Cancer</option>
														</select>
													</div>
												</div>
												<div class="col-1-3">
													<div class="wrap-col">
														<select name="region" ng-model="exp2.population_continent" ng-change="popChecker()">
															  <option value="" default selected>Select Population</option>	
														      <option value="Ireland">Ireland</option>
														      <option value="Denmark">Denmark</option>
														      <option value="China">China</option>
														      <option value="Asia">Asia</option>
														      <option value="Europe">Europe</option>
														</select>
													</div>
												</div>
											</label>
											<label ng-show="popdropdowns" id="dropdownsLabel" class="row">
												<div class="col-1-4">
													<div class="wrap-col">
														<select id="reguation" name="reguation" ng-model="exp2.reguation" ng-change="oneSelector(exp2.reguation, 'regulation')" required>
															  <option value="" default selected>Select Regulation</option>	
														      <option value="upregulated">Upregulated</option>
														      <option value="downregulated">Downregulated</option>
														      <option value="up">Re-elevated</option>
														</select>
													</div>
												</div>
												<div class="col-1-4">
													<div class="wrap-col">
														<select id="marker" name="marker" ng-model="exp2.marker" ng-change="oneSelector(exp2.marker, 'marker')" required>
															  <option value="" default selected>Select Marker</option>	
														      <option value="Diagnostic">Diagnostic</option>
														      <option value="Prognostic">Prognostic</option>
														</select>
													</div>
												</div>
												<div class="col-1-4">
													<div class="wrap-col">
														<select id="therapy" name="therapy" ng-model="exp2.therapy" ng-change="oneSelector(exp2.therapy, 'therapy')" required>
															  <option value="" default selected>Select Therapy</option>	
														      <option value="CT">Chemotherapy</option>
														      <option value="RT">Radiotherapy</option>
														      <option value="CRT">Chemoradiotherapy</option>
														</select>
													</div>
												</div>
												<div class="col-1-4">
													<div class="wrap-col" required>
														<select id="stage" name="stage" ng-model="exp2.stage" ng-change="oneSelector(exp2.stage, 'stage')">
															  <option value="" default selected>Select Stage</option>	
														      <option value="TNM/Stage">TNM/Stage</option>
														      <option value="Metastasis">Metastasis</option>
														      <option value="Recurrance">Recurrence</option>
														</select>
													</div>
												</div>
											</label>
											<label>
												<div class="col-1-3">
													<div class="wrap-col">
														<button type="submit" id ="btSubmit" class="sendButton btn" >Search</button>
													</div>
												</div>
											</label>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
					
					<div ng-show="isSet(2)">
						<div class="row">
						<div class="col-1-3">
							<div class="wrap-col">
								<span>There will be something about it</span>
								<p>with some description</p>
							</div>
						</div>
						<div class="col-2-3">
							<div class="wrap-col">
								<div class="contact">
									<div id="contact_form">
										<form name="form2" id="ff" ng-submit="searchQuery(form2)" >
											<label class="row">
												<div class="col-1-3">
													<div class="wrap-col">
														<select name="miRNA_name" ng-model="RNA1.miRNA_name" required>
															  <option value="" default selected>Select miRNA</option>	
														      <option value="miR-10b">miR-10b</option>
														      <option value="mir-132">miR-124</option>
														      <option value="mir-132b">miR-130a</option>
														</select>
													</div>
												</div>
												<div class="col-1-3">
													<div class="wrap-col">
														<select name="cancer" ng-model="RNA1.cancer" required>
															  <option value="" default selected>Select Cancer Type</option>	
														      <option value="colorectal cancer">Colorectal Cancer</option>
														      <option value="Gatric cancer">Gatric Cancer</option>
														      <option value="colon cancer">Colon Cancer</option>
														      <option value="Esophageal cancer">Esophageal Cancer</option>
														</select>
													</div>
												</div>
												<div class="col-1-3">
													<div class="wrap-col">
														<button type="submit" class="sendButton btn" >Search</button>
													</div>
												</div>
											</label>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
						
					</div>
					
					<div ng-show="isSet(3)">
						<div class="row">
						<div class="col-1-3">
							<div class="wrap-col">
								<span>There will be something about it</span>
								<p>with some description</p>
							</div>
						</div>
						<div class="col-2-3">
							<div class="wrap-col">
								<div class="contact">
									<div id="contact_form">
										<form name="form31" id="ff" ng-submit="searchQuery(form31)">
											<label class="row">
												<div class="col-1-2">
													<div class="wrap-col">
														<select name="miRNA_name" ng-model="SNP1.miRNA_name" required>
															  <option value="" default selected>Select miRNA</option>	
														      <option value="miR-146">miR-146</option>
														      <option value="mir-146a ">mir-146a</option>
														</select>	
													</div>
												</div>
												<div class="col-1-2">
													<div class="wrap-col">
														<select name="cancer" ng-model="SNP1.cancer" required>
															  <option value="" default selected>Select Cancer Type</option>	
														      <option value="colorectal cancer">Colorectal Cancer</option>
														      <option value="Gastric cancer">Gastric Cancer</option>
														      <option value="oral cancer">Oral Cancer</option>
														      <option value=" esophageal cancer">Esophageal Cancer</option>
														</select>
													</div>
												</div>
											</label>
											<center><button type="submit" class="sendButton btn" >Search</button></center>
										</form>
										<label class="row">
												<div class="sepLine"></div>
											</label>
										<form name="form32" id="ff" ng-submit="searchQuery(form32)">
											<label class="row">
												<div class="col-1-2">
													<div class="wrap-col">
														<select name="snp" ng-model="SNP2.snp" required>
															  <option value="" default selected>Select SNP</option>	
														      <option value="KRAS-rs712">KRAS-rs712</option>
														      <option value="rs895819 ">rs895819 </option>
														</select>	
													</div>
												</div>
												<div class="col-1-2">
													<div class="wrap-col">
														<select name="cancer" ng-model="SNP2.cancer" required>
															  <option value="" default selected>Select Cancer Type</option>	
														      <option value="colorectal cancer">Colorectal Cancer</option>
														      <option value="Gastric cancer">Gastric Cancer</option>
														      <option value="oral cancer">Oral Cancer</option>
														      <option value=" esophageal cancer">Esophageal Cancer</option>
														</select>
													</div>
												</div>
											</label>
											<center><button type="submit" class="sendButton btn" >Search</button></center>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>

				</div>
			</div>
		</div>
<div id= 'resultTable' class="tableContainer">
	<table ng-show="isTable(1)" class="table  table-hover data-table myTable">
            <thead>
                <tr>
                    <th class="EmpId">miRNA  
                   </th>
                    <th class="Email">Expression Status
                    </th>
                    <th class="Email">Significance
                    </th>
                    <th class="Email" ng-show="showMarker">Marker
                    </th>
                    <th class="Email" ng-show="showTherapy">Therapy
                    </th>
                    <th class="Email" ng-show="showStage">Stage
                    </th>
                    <th class="Email">Reference
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in expResult">
                    <td>{{ x.miRNA_name }}</td>
    				<td>{{ x.regulation_details }}</td>
    				<td>{{ x.significance }}</td>
    				<td ng-show="showMarker">{{ x.marker_details }}</td>
    				<td ng-show="showTherapy">{{ x.therapy_details }}</td>
    				<td ng-show="showStage">{{ x.stage_details }}</td>
    				<td>{{ x.reference }}</td>
                </tr>
            </tbody>
       </table>
	<table ng-show="isTable(2)" class="table  table-hover data-table myTable">
            <thead>
                <tr>
                    <th class="EmpId">miRNA  
                   </th>
                    <th class="name">Cancer
                    </th>
                    <th class="Email">Cell Line
                    </th>
                    <th class="Email">Function Name
                    </th>
                    <th class="Email">Target Id
                    </th>
                    <th class="Email">Technique
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in miResult">
                    <td>{{ x.miRNA_name }}</td>
    				<td>{{ x.cancer }}</td>
    				<td>{{ x.cell_line }}</td>
    				<td>{{ x.functionName }}</td>
    				<td>{{ x.targetD }}</td>
    				<td>{{ x.technique }}</td>
                </tr>
            </tbody>
       </table>
       <table ng-show="isTable(3)" class="table  table-hover data-table myTable">
            <thead>
                <tr>
                    <th class="EmpId">miRNA  
                   </th>
                    <th class="name">Cancer
                    </th>
                    <th class="name">Continent
                    </th>
                    <th class="name">Country
                    </th>
                    <th class="Email">SNP
                    </th>
                    <th class="Email">Function Name
                    </th>
                    <th class="Email">Reference
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in snpResult">
                    <td>{{ x.miRNA_name }}</td>
    				<td>{{ x.cancer }}</td>
    				<td>{{ x.population_continent}}</td>
    				<td>{{ x.population_country}}</td>
    				<td>{{ x.snp}}</td>
    				<td>{{ x.functionName }}</td>
    				<td>{{ x.reference }}</td>
                </tr>
            </tbody>
       </table>
</div>

<!--////////////////////////////////////Footer-->
<footer>
	<div class="zerogrid">
		<div class="wrap-footer">
			<div class="row">
				<h3>Contact</h3>
				<span>Phone / +80 999 99 9999 </span></br>
				<span>Email / name@sample.com  </span></br>
				<span><strong>Designed by - <a href="https://www.facebook.com/shubhdw" >Shubham  Dubey</a> </strong></span>
			</div>
		</div>
	</div>
</footer>

</div>
</body></html>